* {
    margin: 0;
    padding: 0;
    /* margin-left: 50px; */
    font-family: 'Raleway', sans-serif;
}

/** -- HEADER -- **/
nav {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* #menu {
    display: inline-block;
    list-style-type: none;
    text-align: center;
} */

#menu-container {
    float: right;
    margin-bottom: 60px;
}

.menu-item {
    /* display: inline-block; */
    width: 130px;
    line-height: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    border-top: 2px solid #0065FC;
}

.menu-item:hover {
    color: #0065FC;
}

#sign-in {
    display: inline-block;
    font-weight: 700;
    color: #0065FC;
}

#logo-container {
    width: 90%;
    margin: 0 auto;
}

#logo {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 50px;
}

/** -- MAIN -- **/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    margin-top: 50px;
}

section, .section-title {
    /* width: 100%; */
    margin-bottom: 30px;
}

.section-title {
    padding-top: 30px;
    padding-left: 20px;
    /* margin-left: 25px; */
}

.link {
    text-decoration: none;
    color: black;
}


/** -- SEARCH SECTION -- **/
#search {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.icon-wrap {
    width: 420px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* border: 1px solid #F2F2F2; */
}

#search-input {
    flex: 1;
    padding-left: 20px;
    border: none;
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 16px;
}

#location, #search-input, #search-button {
    height: 50px;
}

#location {
    width: 40px;
    height: 52px;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-title {
    margin-bottom: 5px;
}

#search-description {
    font-size: 16px;
}

#search-button {
    width: 100px;
    height: 52px;
    border: none;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: 700;
}

/** -- FILTERS SECTION -- **/
#filters {
    width: 90%;
    align-self: center;
}

#filters-title {
    display: inline-block;
    margin-right: 30px;
}

#filters-container {
    display: inline-flex;
}

.filters-wrap {
    display: inline-flex;
    justify-content: center;
}

.filters-icon {
    position: relative;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.filters-button {
    width: auto;
    height: 40px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: transparent;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2;
    border-width: 2px 2px 2px 0;
    border-style: solid solid solid;
    border-radius: 0 25px 25px 0;
    text-align: left;
    font-weight: 800;
}

.filters-button:hover {
    background-color: #F2F2F2;
    transition: all 0.2s ease-in;
}

/** -- INFO -- **/
#info-container {
    width: 90%;
    align-self: center;
}

#info {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 30px;
}

#info-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
    color: #0065FC;
}

/** -- HOST -- **/
#host-popular-flex {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
}

#host {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
}

#host-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.host-place {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #cacaca;
    padding: 5px;
    margin-bottom: 30px;
}

.host-padding {
    padding-left: 10px;
    padding-bottom: 5px;
}

.host-title {
    margin: 5px 0;
}

.host-price {
    font-size: 14px;
}

.host-img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.host-stars-blue, .host-stars-gray {
    font-size: 14px;
}

.host-stars-blue {
    color: #0065FC;
}

.host-stars-gray {
    color: #F2F2F2;
}

#show-more {
    display: block;
    text-decoration: none;
    margin-left: 25px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: black;
    font-weight: 800;
}

#show-more:hover {
    color: #0065FC;
}

/** -- POPULAR HOSTS -- **/
#host-popular {
    /* width: 420px; */
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 590px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#host-title-flex {
    width: 90%;
    align-self: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.popular-place {
    width: 90%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #cacaca;
}

.popular-description {
    width: 50%;
    padding-top: 50px;
}

.popular-img {
    width: 40%;
    height: 90%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.popular-stars {
    line-height: 100px;
}

/** -- ACTIVITIES -- **/
#activities-section {
    width: 90%;
    align-self: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#activities-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.activities-box {
    width: 20%;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #cacaca;
}

.activities-box-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.activities-box-two > .activities-box > a > img {
    height: 95px;
    object-fit: cover;
}

.activities-box-two > .activities-box {
    width: 100%;
    height: 150px;
    /* height: 100%; */
}

.activities-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-title {
    padding: 10px;
    /*padding: 10  0 20px 20px;*/
}

/** -- FOOTER -- **/
footer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

#footer-container {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    margin: 0;
}

.footer-list {
    width: 35%;
    list-style: none;
}

.footer-title {
    margin-bottom: 25px;
}

.footer-link {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-link:hover {
    color: #0065FC;
}

/* @media (max-width: 1280px) {
    #host {
        width: 75%;
    }
    
    .popular-place {
        width: 95%;
    }
}

@media (max-width: 1600px) {
    #host {
        width: 60%;
    }
} */

/** -- RESPONSIVE MOBILE -- **/
@media (max-width: 640px) {

    #logo-container {
        width: 35%;
        margin: 0;
    }

    #logo {
        position: relative;
        top: 25px;   
    }
    
    #menu-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        float: none;
        margin-bottom: 25px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .active {
        border-bottom: 2px solid #0065FC!important;
        color: #0065FC;
    }

    #menu-container > nav > .menu-item {
        line-height: 50px;
        border-bottom: 2px solid #F2F2F2;
    }

    .menu-item {
        width: 50%;
    }

    #sign-in {
        line-height: 15px;
        text-align: right;
        padding-right: 20px;
    }

    main {
        margin-top: 0;
    }

    /* .m-20 {
        margin-left: 20px;
    } */

    /** -- SEARCH -- **/
    .icon-wrap {
        width: 100%;
    }

    /* #search {
        width: 100%;
    } */

    #search-title {
        margin-bottom: 10px;
        margin-left: 0px;
    }

    #search-input {
        width: 500px;
        /* border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; */
        border-right: none;
    }

    #search-button {
        visibility: hidden;
    }

    #search-button:before {
        display: inline-block;
        width: 52px;
        height: 52px;
        position: relative;
        left: -30%;
        font-family: 'Font Awesome\ 5 Free';
        content: '\f002';
        visibility: visible;
        background-color: #0065FC;
        font-weight: 900;
        line-height: 52px;
        border-radius: 15px;
    }

    #filters-title {
        margin-bottom: 10px;
    }

    #filters-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -20px;
    }

    .filters-wrap {
        margin-bottom: 10px;
    }

    #info-container {
        display: flex;
    }

    #info {
        width: 80%;
        margin-top: 6px;
    }


    /** -- HOST -- **/
    #host-popular-flex {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
    }

    #host {
        width: 100%;
        flex: 1;
        background-color: transparent;
    }

    .host-place {
        width: 90%;
        margin-bottom: 15px;
    }

    #show-more {
        margin-top: 20px;
    }

    #host-popular {
        width: 100%;
        flex: 1;
        border-radius: 0%;
    }

    .popular-place {
        margin-bottom: 15px;
    }


    /** -- ACTIVITES -- **/
    #activities-section {
        width: 90%;
    }

    #activities-flex {
        width: 100%;
        flex-direction: column;
    }

    .activities-box {
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }

    .activities-img {
        height: 95px;
    }

    .activities-box-two {
        width: 100%;
        flex-direction: column;
    }


    /** -- FOOTER -- **/

    #footer-container {
        width: 90%;
        flex-direction: column;
    }

    .footer-list {
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {
    
    /** -- FILTERS -- **/
    #filters-container {
        width: 80%;
    }

    .filters-button {
        width: 80%;
        padding-right: 10px;
    }

    /** -- HOST -- **/
    #host-popular-flex {
        flex-direction: column;
    }
    
    #host {
        width: 100%;
    }

    .host-place {
        width: 35%;
    }

    .host-title {
        padding-bottom: 0;
    }

    #host-popular {
        width: 100%;
        margin-bottom: 30px;
    }

    .popular-description {
        height: 200px;
        align-self: normal;
    }

    .popular-stars {
        line-height: 50px;
    }


    /** -- ACTIVITES -- **/
    #activities-section {
        width: 90%;
    }

    #activities-flex {
        width: 100%;
        flex-direction: column;
    }

    .activities-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .activities-box-two {
        width: 100%;
        flex-direction: column;
    }
}

/** -- TABLETTE (portrait) -- **/
@media (min-width: 768px) and (max-width: 1024px) {

    /** -- HOST -- **/
    #host-popular-flex {
        flex-direction: column;
    }
    
    #host {
        width: 100%;
    }

    .host-place {
        width: 35%;
    }

    #host-popular {
        width: 100%;
        margin-bottom: 30px;
    }

    .popular-description {
        height: 200px;
        align-self: normal;
    }

    .popular-stars {
        line-height: 50px;
    }


    /** -- ACTIVITIES -- **/

    #activities-flex {
        margin-right: 0px;
    }

    .activities-box {
        /* height: 380px; */
    }

    .activities-title {
        padding-right: 10px;
    }


    /** -- FOOTER -- **/

    .footer-list {
        width: 30%;
    }
}